name: CI

on:
  push:
    branches: [main]

jobs:
  ci:
    name: Building ${{ matrix.file }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file:
          - smartmatrix.yaml
          - smartmatrix_trinity.yaml
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      
      - name: Build ESPHome firmware
        id: esphome-build
        uses: esphome/build-action@v1.5.2
        with:
          yaml_file: ${{ matrix.file }}
      
      - uses: frabert/replace-string-action@v2
        id: replacer
        with:
          pattern: '(.*)(\.yaml)'
          string: ${{ matrix.file }}
          replace-with: '$1.bin'
      
      - name: Rename firmware image to match yaml
        run: |
          mkdir firmware && mv "${{ steps.esphome-build.outputs.name }}" firmware/{{ steps.replacer.outputs.replaced }}

      - uses: actions/upload-artifact@v3.1.2
        with:
          name: firmware
          path: firmware
